<ul class="nav m-0">
  <li class="nav-item">
    <h1><a href="/" title="Return to Homepage">I'm Geoff Foley</a></h1>
  </li>
  <li class="nav-item">
    <a href="/resume" {% if page.section == "resume" %}class="active"{% endif %} title="View my resume">Resume</a> ::
    <a href="/info" {% if page.section == "info" %}class="active"{% endif %} title="View my info">Info</a> ::
    <a href="/poetry" {% if page.section == "poetry" or layout.section == "poetry" %}class="active"{% endif %} title="Read my poetry">Poetry</a> ::
    <a href="/fiction" {% if page.section == "fiction" or layout.section == "fiction" %}class="active"{% endif %} title="Read my fiction">Fiction</a> ::
    <a href="/film" {% if page.section == "film" %}class="active"{% endif %} title="See my list of film projects">Film</a> ::
    <a href="/blog" {% if page.section == "blog" or layout.section == "blog" %}class="active"{% endif %} title="Read my blog">Blog</a>
  </li>
</ul>
